.pc{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.laptop{
  width: 100%;
  max-width: 1200px;
  position: relative;

}

.laptop img{
  width: 99.8%;

}

.laptop video{
  position: absolute;
  width: 67.7%;
  height: 82.5%;
  background: black;
  top: 6.8%;
  left: 17.5%;
}
